In [ ]:
#LIST IN PYTHON

In [ ]:
#Accessing item in in list
thislist=['chappati','poori','dosa','idly','vada']
print(thislist[0])
print(thislist[3])

chappati
idly

In [ ]:
#slicing(positive)
thislist=['chappati','poori','dosa','idly','vada']
print(thislist[1:2])
print(thislist[:3])
print(thislist[1:])
print(thislist[0:4])

['poori']
['chappati', 'poori', 'dosa']
['poori', 'dosa', 'idly', 'vada']
['chappati', 'poori', 'dosa', 'idly']

In [ ]:
#slicing(negative)
thislist=['chappati','poori','dosa','idly','vada']
print(thislist[-4:-3])
print(thislist[:-3])
print(thislist[-1:])
print(thislist[:-4])

['poori']
['chappati', 'poori']
['vada']
['chappati']

In [ ]:
#check item using in
thislist=['chappati','poori','dosa','idly','vada']
if "poori" in thislist:
  print("true")
else:
  print("false")

true

In [ ]:
#changing item using in
thislist=['chappati','poori','dosa','idly','vada']
print(thislist)
thislist[1:4]=""
print(thislist[1:4])
thislist[:2]=["payasam","vada"]
#print(thislist[:2])

['chappati', 'poori', 'dosa', 'idly', 'vada']
['vada']

In [ ]:
#changing item using in
thislist=['chappati','poori','dosa','idly','vada']
for i in thislist:
  print(i)
for j in range(len(thislist)):
  print(thislist)
  print(thislist[j])

chappati
poori
dosa
idly
vada
['chappati', 'poori', 'dosa', 'idly', 'vada']
chappati
['chappati', 'poori', 'dosa', 'idly', 'vada']
poori
['chappati', 'poori', 'dosa', 'idly', 'vada']
dosa
['chappati', 'poori', 'dosa', 'idly', 'vada']
idly
['chappati', 'poori', 'dosa', 'idly', 'vada']
vada

In [ ]:
#changing item using in positive index
thislist=['chappati','poori','dosa','idly','vada']
print(thislist)
print(thislist[1:4])
print(thislist[:4])
print(thislist[4:])
print(thislist[:2])
print(thislist[2:])
print(thislist[1:])
print(thislist[:1])
print(thislist[2:4])
print(thislist[2:3])

['chappati', 'poori', 'dosa', 'idly', 'vada']
['poori', 'dosa', 'idly']
['chappati', 'poori', 'dosa', 'idly']
['vada']
['chappati', 'poori']
['dosa', 'idly', 'vada']
['poori', 'dosa', 'idly', 'vada']
['chappati']
['dosa', 'idly']
['dosa']

In [ ]:
#changing item using in negative index

thislist=['chappati','poori','dosa','idly','vada']
print(thislist)
print(thislist[-4:-1])
print(thislist[:-4])
print(thislist[-4:])
print(thislist[:-2])
print(thislist[-2:])
print(thislist[-1:])
print(thislist[:-1])
print(thislist[-4:-2])
print(thislist[-3:-1])

['chappati', 'poori', 'dosa', 'idly', 'vada']
['poori', 'dosa', 'idly']
['chappati']
['poori', 'dosa', 'idly', 'vada']
['chappati', 'poori', 'dosa']
['idly', 'vada']
['vada']
['chappati', 'poori', 'dosa', 'idly']
['poori', 'dosa']
['dosa', 'idly']

In [ ]:
#Using two for loop in list

thislist=['chappati','poori','dosa','idly','vada']
for i in thislist:
  print(i)
for j in range(len(thislist)):
  print(thislist)
  print(j)
  print(thislist)

chappati
poori
dosa
idly
vada
['chappati', 'poori', 'dosa', 'idly', 'vada']
0
['chappati', 'poori', 'dosa', 'idly', 'vada']
['chappati', 'poori', 'dosa', 'idly', 'vada']
1
['chappati', 'poori', 'dosa', 'idly', 'vada']
['chappati', 'poori', 'dosa', 'idly', 'vada']
2
['chappati', 'poori', 'dosa', 'idly', 'vada']
['chappati', 'poori', 'dosa', 'idly', 'vada']
3
['chappati', 'poori', 'dosa', 'idly', 'vada']
['chappati', 'poori', 'dosa', 'idly', 'vada']
4
['chappati', 'poori', 'dosa', 'idly', 'vada']

In [ ]:
#Reducing long coding into short
thislist=['chappati','poori','dosa','idly','vada']
nl=[[i for i in thislist]]
print(nl)

[['chappati', 'poori', 'dosa', 'idly', 'vada']]

In [ ]:
#Sorting in list
thislist=[4,5,2,8,1,]
thislist.sort()
print(thislist)

[1, 2, 4, 5, 8]

In [ ]:
#Reducing long coding into short
thislist=['chappati','poori','dosa','idly','vada']
newlist=[]
for x in thislist:
  if 'a' in x:
    newlist.append(x)
print(newlist)

#Sinmlpied form
thislist=['chappati','poori','dosa','idly','vada']
newlist=[x for x in thislist if 'a' in x]
print(newlist)

['chappati', 'dosa', 'vada']
['chappati', 'dosa', 'vada']

In [ ]:
#Using upper() in for loop(list)
thislist=['chappati','poori','dosa','idly','vada']
nl=[i.upper() for i in thislist]
print(nl)

['CHAPPATI', 'POORI', 'DOSA', 'IDLY', 'VADA']

In [ ]:
#Finding chars using for loop in (list)
thislist=['chappati','poori','dosa','idly','vada']
nl=[i for i in thislist if "o" in i]
print(nl)

['poori', 'dosa']

In [ ]:
#Sorting
thislist=['chappati','poori','dosa','idly','vada']
thislist.sort()
print(thislist)

['chappati', 'dosa', 'idly', 'poori', 'vada']

In [ ]:
#Sorting string using lower() in list
thislist=['chappati','poori','dosa','idly','vada']
thislist.sort(key=str.lower)
print(thislist)

['chappati', 'dosa', 'idly', 'poori', 'vada']

In [ ]:
#Sorting string using upper() in list
thislist=['chappati','poori','dosa','idly','vada']
thislist.sort(key=str.upper)
print(thislist)

['chappati', 'dosa', 'idly', 'poori', 'vada']

In [ ]:
#Copylist method1
thislist=['chappati','poori','dosa','idly','vada']
secondlist=thislist.copy()
print(thislist)
print(secondlist)

['chappati', 'poori', 'dosa', 'idly', 'vada']
['chappati', 'poori', 'dosa', 'idly', 'vada']

In [ ]:
#Copylist method2
thislist=['chappati','poori','dosa','idly','vada']
secondlist=thislist
print(thislist)
print(secondlist)

['chappati', 'poori', 'dosa', 'idly', 'vada']
['chappati', 'poori', 'dosa', 'idly', 'vada']

In [ ]:
#Concatenation
thislist=['chappati','poori','dosa','idly','vada']
secondlist=["rice","dhal"]
print(secondlist+thislist)

['rice', 'dhal', 'chappati', 'poori', 'dosa', 'idly', 'vada']

In [ ]:
#Converting list to tuple
thislist=['chappati','poori','dosa','idly','vada']
secondlist=thislist

secondlist=list(thislist)
print(secondlist)
secondlist=["rice","dhal"]
print(type(secondlist))

print(secondlist)
secondlist=tuple(thislist)
print(secondlist)

['chappati', 'poori', 'dosa', 'idly', 'vada']
<class 'list'>
['rice', 'dhal']
('chappati', 'poori', 'dosa', 'idly', 'vada')

In [ ]:
#_______________________________________________________________________________________________________________________________

In [ ]:
#SET IN PYTHON

In [ ]:
#Creating set
myset={1,2,3,4,5,6,7}
print(myset)
print(type(myset))

{1, 2, 3, 4, 5, 6, 7}
<class 'set'>

In [ ]:
#Not allowing duplicate values
myset={1,2,3,4,4,5,6,7}
print(myset)
print(type(myset))

{1, 2, 3, 4, 5, 6, 7}
<class 'set'>

In [ ]:
#Creating set
myset={True,1,1,2,3,4,5,False,0,6,7}
print(myset)
print(type(myset))
print(len(myset))

{False, True, 2, 3, 4, 5, 6, 7}
<class 'set'>
8

In [ ]:
#Accessing items in set
myset=set((True,1,1,2,3,4,5,False,0,6,7))
print(myset)

{False, True, 2, 3, 4, 5, 6, 7}

In [ ]:
#set constructor
myset=set(('apple','banana','grapes','cherry','mango'))
print(myset)

{'mango', 'cherry', 'grapes', 'banana', 'apple'}

In [ ]:
#Accessing items using for loop
myset=set(('apple','banana','grapes','cherry','mango'))
for i in myset:
  print(i)

mango
cherry
grapes
banana
apple

In [ ]:
#if function in set
myset=set(('apple','banana','grapes','cherry','mango'))
if 'orange' in myset:
  print("True")
elif "pomegranate" not in myset:
  print("False")
else:
  print("Thankyou")

False

In [ ]:
#if function in set
myset=set(('apple','banana','grapes','cherry','mango'))
if 'orange' in myset:
  print("True")
elif "mango" not in myset:
  print("False")
else:
  print("Thankyou")

Thankyou

In [ ]:
#if function in set
myset=set(('apple','banana','grapes','cherry','mango'))
if 'apple' in myset:
  print("True")
elif "pomegranate" not in myset:
  print("False")
else:
  print("Thankyou")

True

In [ ]:
#Add items in set
myset=set(('apple','banana','grapes','cherry','mango'))
myset.add("orange")
print(myset)

{'grapes', 'apple', 'banana', 'mango', 'orange', 'cherry'}

In [ ]:
#Update items using set in set
myset=set(('apple','banana','grapes','cherry','mango'))
myset1={"vanila","chocolate"}                       #we cannot add items using index value but we can add items
myset.update(myset1)
print(myset)

{'grapes', 'chocolate', 'vanila', 'apple', 'banana', 'mango', 'cherry'}

In [ ]:
#Update items using tuple in set
myset=set(('apple','banana','grapes','cherry','mango'))
myset1=("vanila","chocolate")                       #we cannot add items using index value but we can add items
myset.update(myset1)
print(myset)

{'grapes', 'chocolate', 'vanila', 'apple', 'banana', 'mango', 'cherry'}

In [ ]:
#Update items using list in set
myset=set(('apple','banana','grapes','cherry','mango'))
myset1=["vanila","chocolate"]                       #we cannot add items using index value but we can add items
myset.update(myset1)
print(myset)

{'grapes', 'chocolate', 'vanila', 'apple', 'banana', 'mango', 'cherry'}

In [ ]:
#Remove items in set
myset=set(('apple','banana','grapes','cherry','mango'))
myset.remove("banana")
print(myset)

{'grapes', 'apple', 'mango', 'cherry'}

In [ ]:
#Remove items in set
myset=set(('apple','banana','grapes','cherry','mango'))    #give error when item not in the list,tuple or set
myset.remove("pineapple")
print(myset)

KeyError: 'pineapple'

In [ ]:
#Discard as same as remove
myset=set(('apple','banana','grapes','cherry','mango'))
myset.discard("banana")
print(myset)

{'grapes', 'apple', 'mango', 'cherry'}

In [ ]:
#pop in set
myset=set(('apple','banana','grapes','cherry','mango'))
x=myset.pop()              #remove randomly
print(x)
print(myset)

grapes
{'apple', 'banana', 'mango', 'cherry'}

In [ ]:
#clear the set
myset=set(('apple','banana','grapes','cherry','mango'))
myset.clear()
print(myset)

set()

In [ ]:
#delete the set
myset=set(('apple','banana','grapes','cherry','mango'))
del myset  #empty the set

In [ ]:
#delete the set
myset=set(('apple','banana','grapes','cherry','mango'))
print(myset)     #print the set
del myset        #delete the set
print(myset)     #give error after deleting the set because no values in that set

{'grapes', 'apple', 'banana', 'mango', 'cherry'}

NameError: name 'myset' is not defined

In [ ]:
#Union of the set
set1={'a','b','c','1','2','3'}
set2={'1','2','3'}
print(set1.union(set2)) #avoid duplicate values

{'3', 'b', 'a', '2', 'c', '1'}

In [ ]:
#Union of the set
set1={'a','b','c'}
set2={'1','2','3'}
print(set1.union(set2))

{'3', 'b', 'a', 'c', '1', '2'}

In [ ]:
#Union or | of the set
set1={'a','b','c','1','2','3'}
set2={'1','2','3'}
print(set1|set2) #avoid duplicate values and cannot use list,dic or tuple when using |

{'3', 'b', 'a', '2', 'c', '1'}

In [ ]:
#Union or | of the set
set1={'a','b','c','1','2','3'}
set2={'1','2','3'}
set3={'d','e','f'}
print(set1|set2|set3) #avoid duplicate values and cannot use list,dic or tuple when using |

{'3', 'b', 'd', 'a', '2', 'f', 'e', 'c', '1'}

In [ ]:
#Union of the set
set1={'a','b','c','1','2','3'}
set2={'1','2','3'}
set3={'d','e','f'}
print(set1.union(set2,set3)) #avoid duplicate values and cannot use list,dic or tuple when using |

{'3', 'b', 'd', 'a', '2', 'f', 'e', 'c', '1'}

In [ ]:
#intersection
set1={'a','b','c','1','2','3'}
set2={'1','2','3'}
set3=set1.intersection(set2)
print(set3)

{'1', '2', '3'}

In [ ]:
#intersection
set1={'a','b','c','1','2','3'}
set2={'1','2','3'}
print(set1.intersection(set2))

{'1', '2', '3'}

In [ ]:
#Remove unknown item
set1={'a','b','c','1','2','3'}
set2={'1','2','3'}
set3=set1 & set2
print(set3)

{'1', '2', '3'}

In [ ]:
#Intersection update mtd1
set1={"apple","banana",1,"cherry"}
set2={"google",True,"apple"}
set1.intersection_update(set2)
print(set1)

{True, 'apple'}

In [ ]:
#Intersection update mtd2
set1={"apple","banana",1,"cherry"}
set2={"google",True,"apple"}
set2&=set1
print(set2)

{True, 'apple'}

In [ ]:
#Intersection update mtd3
set1={"apple","banana",1,"cherry"}
set2={"google",True,"apple"}
set3=set1.intersection(set2)
print(set3)

{True, 'apple'}

In [ ]:
#Difference in set
set1={"apple","banana",1,"cherry"}
set2={"google",True,"apple"}
set3=set1.difference(set2)
print(set3)

{'banana', 'cherry'}

In [ ]:
#Difference in set
set1={"apple","banana",1,"cherry"}
set2={"google",True,"apple"}
set3=set1-set2
print(set3)

{'banana', 'cherry'}

In [ ]:
#Difference _update
set1={"apple","banana",1,"cherry"}
set2={"google",True,"apple"}
set1.difference_update(set2)
print(set1)

{'cherry', 'banana'}

In [ ]:
#Set Symmetric
set1={'apple','banana','cherry'}
set2={"google",True,"apple"}
set3=set1.symmetric_difference(set2)
print(set3)

{True, 'google', 'banana', 'cherry'}

In [ ]:
#Set Symmetric_difference_update
set1={'apple','banana','cherry'}
set2={"google",True,"apple"}
set1.symmetric_difference_update(set2)
print(set1)

{True, 'banana', 'google', 'cherry'}

In [ ]:
#isdisjoint in set
set1={'apple','banana','cherry'}
set2={"google",True,"apple"}
set3=set1.isdisjoint(set2)
print(set3)             #if intersect

False

In [ ]:
#isdisjoint in set
set1={'apple','banana','cherry'}
set2={"google",True}
set3=set1.isdisjoint(set2)
print(set3)             #if not intersect

True

In [ ]:
#issubset
set1={'apple','banana','cherry'}
set2={"google",True,"apple"}
set3=set1.issubset(set2)
print(set3)             #if all items are present then true else false

False

In [ ]:
#issubset
set1={'apple','banana','cherry'}
set2={'apple','banana','cherry'}
set3=set1.issubset(set2)
print(set3)             #if all items are present then true

True

In [ ]:
#issuperset
set1={'apple','banana','cherry'}
set2={'mango','pineapple'}
set3=set1.issuperset(set2)
print(set3)

False

In [ ]:
#issuperset
set1={'apple','banana','cherry'}
set2={'apple','banana'}
set3=set1.issuperset(set2)
print(set3)

True

In [ ]:
#____________________________________________________________________________________________________________________________________

In [ ]:
#TUPLE IN PYTHON

In [ ]:
#creating tuple
mytuple=("apple","orange","banana","cherry")
print(mytuple)

('apple', 'orange', 'banana', 'cherry')

In [ ]:
#Tuple length
mytuple=("apple","orange","banana","cherry")
print(len(mytuple))

4

In [ ]:
#checking type
mytuple=("apple","orange","banana","cherry")
print(type(mytuple))

<class 'tuple'>

In [ ]:
#tuple datatype
mytuple=("abc",34,True,40,"male")
print(mytuple)
print(type(mytuple))

('abc', 34, True, 40, 'male')
<class 'tuple'>

In [ ]:
#format in tuple
tuple=(2,"abc",34,True,40,"male")
print(tuple)
print("Your name is {} Your age is {},".format(tuple[1],tuple[2]))

(2, 'abc', 34, True, 40, 'male')
Your name is abc Your age is 34,

In [ ]:
#format in tuple using {} with value
tuple1=(2,"abc",34,True,43,"male")
print("Your name is {0} Your age is {1}".format(tuple1[1],tuple1[2]))

Your name is abc Your age is 34

In [ ]:
#tuple constructor using keyword
tuple1=[2,"abc",34,True,40,"male"]
tuple1=tuple(tuple1)
print(type(tuple1))

<class 'tuple'>

In [ ]:
#Access tuple
mytuple=("apple","orange")
print(mytuple[1])

orange

In [ ]:
#Indexing (positive and negative)
mytuple=("apple","orange","banana","cherry")
print(mytuple[1:3])
print(mytuple[2:4])
print(mytuple[:-3])
print(mytuple[-2:])

('orange', 'banana')
('banana', 'cherry')
('apple',)
('banana', 'cherry')

In [ ]:
#check if item exists in tuple
mytuple=("apple","orange","banana","cherry")
if 'orange' in mytuple:
  print('Yes its there')
else:
  print("No its not there")

Yes its there

In [ ]:
#check if item not exists in tuple

mytuple=("apple","orange","banana","cherry")
if '' in mytuple:
  print('Yes its there')
else:
  print("No its not there")

No its not there

In [ ]:
#Change tuple value using list in tuple
mytuple=("apple","orange","banana","cherry")
mylist=list(mytuple)
mylist[2]="grapes"
tuple2=tuple(mylist)
print(tuple2)

('apple', 'orange', 'grapes', 'cherry')

In [ ]:
#Add single item using append in tuple
thistuple=("apple","orange","banana","cherry")
y=list(mytuple)
y.append("grapes")
mytuple=tuple(y)
print(mytuple)

('apple', 'banana', 'cherry', 'grapes', 'grapes', 'grapes', 'grapes', 'grapes')

In [ ]:
#Adding items using operators
thistuple=("apple","orange","banana","cherry")
y=("grapes",)         #must use comma(,) when adding single in tuple
thistuple+=y
print(thistuple)

('apple', 'orange', 'banana', 'cherry', 'grapes')

In [ ]:
#remove items in tuple
thistuple=("apple","orange","banana","cherry")
y=list(mytuple)
y.remove("orange")
mytuple=tuple(y)
print(mytuple)

('apple', 'banana', 'cherry')

In [ ]:
#del item in tuple
thistuple=("apple","orange","banana","cherry")
print(thistuple)
del thistuple
#print(thistuple)

('apple', 'orange', 'banana', 'cherry')

In [ ]:
#del item in tuple
thistuple=("apple","orange","banana","cherry")
print(thistuple)
del thistuple
print(thistuple)

('apple', 'orange', 'banana', 'cherry')

NameError: name 'thistuple' is not defined

In [ ]:
#unpacking tuple without using loop
fruits=("apple","orange","banana") #must be equal items here
(red,orange,yellow)=fruits         #must be equal items here
print(red)
print(orange)
print(yellow)

apple
orange
banana

In [ ]:
#Using Asterisk in tuple
fruits=("apple","orange","banana") #must be equal items here
(red,orange,*yellow)=fruits         #must be equal items here
print(red)
print(orange)
print(yellow)

apple
orange
['banana']

In [ ]:
#Using Asterisk in tuple
fruits=("apple","orange","banana","grapes","cherry") #we can use more items here
(red,*tropic,red)=fruits
print(red)
print(tropic)
print(yellow)

cherry
['orange', 'banana', 'grapes']
cherry

In [ ]:
#using for loop in tuple
fruits=("apple","orange","banana")
for x in fruits:
  print(x)

apple
orange
banana

In [ ]:
#using for loop in tuple with index numbers
fruits=("apple","orange","banana")
for x in range(len(fruits)):
  print(fruits[x])
print(len(fruits))

apple
orange
banana
3

In [ ]:
#using while loop in tuple
fruits=("apple","orange","banana")
x=0
while x<len(fruits):
  print(fruits[x])
  x=x+1

apple
orange
banana

In [ ]:
#Joining two tuples
tuple1=("apple","orange","banana")
tuple2=(1,2,3)
tuple3=tuple1+tuple2
print(tuple3)

('apple', 'orange', 'banana', 1, 2, 3)

In [ ]:
#_______________________________________________________________________________________________________________________________________

In [ ]:
#DICTIONARY IN PYTHON

In [ ]:
#Dictionary
thisdict={"brand":"Ford", "model":"mustang","year":1964 }
print(thisdict)

{'brand': 'Ford', 'model': 'mustang', 'year': 1964}

In [ ]:
#Dictionary (will not allow duplicate value)
thisdict={"brand":"Ford", "model":"mustang","year":1964,"brand":"Ford"}
print(thisdict)

{'brand': 'Ford', 'model': 'mustang', 'year': 1964}

In [ ]:
#Dictionary
thisdict={"brand":"Ford", "model":"mustang","year":1964}
print(thisdict)
print(thisdict.keys())
print(thisdict.values())

{'brand': 'Ford', 'model': 'mustang', 'year': 1964}
dict_keys(['brand', 'model', 'year'])
dict_values(['Ford', 'mustang', 1964])

In [ ]:
#Dictionary
thisdict={"brand":"Ford", "model":"mustang","year":1964}
print(thisdict)
x=thisdict.keys()
y=thisdict.values()
print(x)
print(y)

{'brand': 'Ford', 'model': 'mustang', 'year': 1964}
dict_keys(['brand', 'model', 'year'])
dict_values(['Ford', 'mustang', 1964])

In [ ]:
# length in dictionary
#Dictionary
thisdict={"brand":"Ford", "model":"mustang","year":1964}
print(len(thisdict))
print(type(thisdict))

3
<class 'dict'>

In [ ]:
#accessing item
#Dictionary
thisdict={"brand":"Ford", "model":"mustang","year":1964}
print(thisdict["model"])
print(thisdict["year"])

mustang
1964

In [ ]:
#dictionary constructor (use= instead of :)
thisdict=dict(brand="Ford", model="mustang",year=1964)
print(thisdict)

{'brand': 'Ford', 'model': 'mustang', 'year': 1964}

In [ ]:
#Accessing item using get function
thisdict=dict(brand="Ford", model="mustang",year=1964)
print(thisdict.get("model"))

mustang

In [ ]:
#Adding item
car={"brand":"Ford", "model":"mustang","year":1964}
car["color"]="white"
print(car)

{'brand': 'Ford', 'model': 'mustang', 'year': 1964, 'color': 'white'}

In [ ]:
#changing item
car={"brand":"Ford", "model":"mustang","year":1964}
car["brand"]="audi"
print(car)

{'brand':["audi"]}
print(car)

{'brand': 'audi', 'model': 'mustang', 'year': 1964}
{'brand': 'audi', 'model': 'mustang', 'year': 1964}

In [ ]:
#changing item
car={"brand":"Ford", "model":"mustang","year":1964}
{'brand':["audi"]} # Will not change
print(car)

{'brand': 'Ford', 'model': 'mustang', 'year': 1964}

In [ ]:
#if statement in dictionary
thisdict={'brand':'Ford','model':"mustang",'year':1964}
if 'model' in thisdict:
  print("Yes",'Model is one of the keys in the thisdict')
else:
   print('No','Model is not in the thisdict')

Yes Model is one of the keys in the thisdict

In [ ]:
#update in dictionary
thisdict={'brand':'Ford','model':"mustang",'year':1964}
thisdict.update({'day':2020})
print(thisdict)

{'brand': 'Ford', 'model': 'mustang', 'year': 1964, 'day': 2020}

In [ ]:
#pop(using key)
thisdict={'brand':'Ford','model':"mustang",'year':1964}
thisdict.pop("model")   #need atleast one key
print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [ ]:
#for loop in dict and giving output key
thisdict={'brand':'Ford','model':"mustang",'year':1964}
for i in thisdict:
  print(i)              #key()

brand
model
year

In [ ]:
#for loop in dict and giving output value
thisdict={'brand':'Ford','model':"mustang",'year':1964}
for i in thisdict:
  print(thisdict[i])              #value()

Ford
mustang
1964

In [ ]:
#for loop in dict value
thisdict={'brand':'Ford','model':"mustang",'year':1964}
for i in thisdict.values():
  print(i)              #value()

Ford
mustang
1964

In [ ]:
#for loop in dict value
thisdict={'brand':'Ford','model':"mustang",'year':1964}
for i in thisdict.keys():
  print(i)              #keys()

brand
model
year

In [ ]:
#for loop in dict using items()
thisdict={'brand':'Ford','model':"mustang",'year':1964}
for i,j in thisdict.items():
  print(i,j)

brand Ford
model mustang
year 1964

In [ ]:
#copy in dictionary method1
thisdict={'brand':'Ford','model':"mustang",'year':1964}
mydict=thisdict.copy()
print(mydict)

{'brand': 'Ford', 'model': 'mustang', 'year': 1964}

In [ ]:
#copy in dictionary method2
thisdict={'brand':'Ford','model':"mustang",'year':1964}
mydict=thisdict
print(mydict)

{'brand': 'Ford', 'model': 'mustang', 'year': 1964}

In [ ]:
#copy in dictionary method3
thisdict={'brand':'Ford','model':"mustang",'year':1964}
mydict=dict(thisdict)
print(mydict)

{'brand': 'Ford', 'model': 'mustang', 'year': 1964}

In [ ]:
#Nested dictionary method1
myfamily={'child1':{'name':'abc','year':2004},
          'child2':{'name':'xyz','year':2007},
          'child3':{'name':'stu','year':2011}
          }
print(myfamily)

{'child1': {'name': 'abc', 'year': 2004}, 'child2': {'name': 'xyz', 'year': 2007}, 'child3': {'name': 'stu', 'year': 2011}}

In [ ]:
#Nested dictionary method2
child1={'name':'abc','year':2004},
child2={'name':'xyz','year':2007},
child3={'name':'stu','year':2011}
myfamily={"child1":child1,"child2":child2,"child3":child3}
print(myfamily)

{'child1': ({'name': 'abc', 'year': 2004},), 'child2': ({'name': 'xyz', 'year': 2007},), 'child3': {'name': 'stu', 'year': 2011}}

In [ ]:
#Nested dictionary method3
myfamily={'child1':{'name':'abc','year':2004},
          'child2':{'name':'xyz','year':2007},
          'child3':{'name':'stu','year':2011}
          }
print(myfamily["child1"]["name"])
print(myfamily["child1"]["year"])

abc
2004

In [ ]:
#loop nested and for loop in dictionary
myfamily={'child1':{'name':'abc','year':2004},
          'child2':{'name':'xyz','year':2007},
          'child3':{'name':'stu','year':2011}
          }
for x,obj in myfamily.items():
  print(x)
  for y in obj:
    print(y+':',obj[y])

child1
name: abc
year: 2004
child2
name: xyz
year: 2007
child3
name: stu
year: 2011

In [ ]:
#fromkeys in dictionary
x = ('a','b','c')
y="Alphabets"
#for i in range(y,y+1,10):
thisdict = dict.fromkeys(x, y)
print(thisdict)
  #y=y+1

{'a': 'Alphabets', 'b': 'Alphabets', 'c': 'Alphabets'}

In [ ]:
#set default in dictionary
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.setdefault("model") #to get the value of the given key
y = car.setdefault("brand","")
z=car.setdefault("servicecenter","Trichy")
print(x)
print(y)
print(z)

Mustang
Ford
Trichy

In [ ]:
#_________________________________________________________________________________________________________________________________________